@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Rampart+One&family=Slabo+27px&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
body{
background-image: url("bgpic.jpg");
background-size: cover ; 
background-repeat: no-repeat;

}
  .main {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    height: 70px;
    padding: 20px;
    padding-top: 20px;
  }
  nav{
    background-color: #595D61;
    height: 70px;
    width: 100%;
    border: coral;
    border-radius: 30px;
  }
  h1 {
    float: left;
    padding: 10px;
    color: #ECCE19;
    border-radius: 15px;
    margin-top: 12px;
    margin-left: 40px;
    font-size: 25px;
  }
  .btn {
    margin-top: 12px;
    margin-right: 40px;
    float: right;
    padding: 13px;
    background-color:#2296EE;
    cursor: pointer;
    border-radius: 10px;
  }
  .btn:hover {
    background-color:#166bb4;
    transition: 0.3s ease;
  }
  .row {
    margin-top: -20px;
    margin-left: 100px;
  }
  .column {
    float: left;
    width: 25%;
    padding: 10 10px;
    margin: 20px;
  }
  .card {
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
    background-color: #F8FCD4;
    border-radius: 50px 50px;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card-img-top {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    border: 4px solid black;
  }
  .card-title {
    font-family: LibreBaskerville;
    font-size: 23px;
  }
  .card-text {
    color: grey;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
  }
  .card:hover{
    box-shadow: 4px 3px black;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .card:hover .card-text{
    color: blue;
  }
